extends layout

block content
	section(ng-controller='imageController')
		header#tagImages.loading(ng-if='toTaggedImagesPaths.length > 0', ng-class='{"starting" : loading < 0.5, "finished" : loading >= 0.5,"open" : loading > 1 }')
			section.tagImages(ng-if='loading > 1',ng-repeat='image in resources.images')
				article.imageResource.col-xs-1-1.col-sm-1-2(ng-if='image.toTag')
					img(src="{{image.path}}")
					.tagSection
						ul
							li(ng-repeat='tag in image.tags')
								{{tag}}
						i.fa.fa-tags
						input(type='text',placeholder='Type tag here', ng-model="image.tagToAdd" ng-keypress="addTag(image,$event)")
			.openDialog(ng-click="openTagImages()")
				h2
					i.fa.fa-exclamation-triangle
					text=' There are new images to Tag! ({{ toTaggedImagesPaths.length }}).'
					#{text}

		section
			input(type='text',placeholder='Type tag here', ng-model="searcher.query" ng-change="search()")
