doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
	body(ng-app='httpExample')
		block content
			
		script(src='http://underscorejs.org/underscore-min.js')
		script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js')
		script(src='/javascripts/app.js')